<h1> Recipe Finder </h1>
<h2> Searching for - <%= @search %> </h2>

<table border="1">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
	
</table>


<p> Powered By Food2Fork.com</p>